body {
    background-color: #4a43;
    text-align: center;
    font-size: 15px;
    /*border: 1px solid;
    border-width: 5px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;*/
  }
  
  input {
    display: block;
    margin: 0 auto;
    margin-top: 5px
  }
  
   #number {
    width: 75px
  }
  
  #dropdown {
    display: block;
    margin: 0 auto;
  }
  
  hr {
    width: 300px; 
  
  }
  
  .inline {
    display: inline;
  }
  
  .radio {
    display: block
  }
  
  input[type="text"] {
    width: 250px;
  }

  input[type="email"] {
    width: 250px;
  }