body {
    background-color: #4a43;
    text-align: center;
    font-size: 15px;
  }
  
  input {
    display: block;
    margin: 0 auto;
    margin-top: 5px
  }
  
   #number {
    width: 75px
  }
  
  #dropdown {
    display: block;
    margin: 0 auto;
  }
  
  hr {
    width: 300px; 
  
  }
  
  .inline {
    display: inline;
  }
  
  .radio {
    display: block
  }
  